Recent Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1DavEe8TW9lmKzL3eFXlMaDJ3eJHpk8ykGEuXuI-ANo8",
          "mode": "list",
          "cachedResultName": "Student Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DavEe8TW9lmKzL3eFXlMaDJ3eJHpk8ykGEuXuI-ANo8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DavEe8TW9lmKzL3eFXlMaDJ3eJHpk8ykGEuXuI-ANo8/edit#gid=0"
        },
        "options": {}
      },
      "id": "bdebdd70-cd92-4f94-a92d-90e7229d4898",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        64
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pusZ4JzjzlrlSe9n",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Response to Your Admission Inquiry",
        "message": "=Hello {{ $('Google Sheets Trigger').item.json.Name }} ,\n\nThank you for your inquiry. Here's our response:\n\n{{ $json.output }}\n\nRegards,  \nAdmissions Team\n",
        "toList": [
          "={{ $('Google Sheets Trigger').item.json.Email }}"
        ],
        "additionalFields": {}
      },
      "id": "525fd84a-6da3-46bd-aa22-34080b04c4a6",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        480,
        128
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "jJYL6GWHRq8hPK4f",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Follow-Up: Regarding Your Admission Inquiry",
        "message": "We hope you found our previous reply helpful. Please feel free to reach out if you have any more questions!.For Details Contact Admission Office : +91 9489465755, +91 9865824929",
        "toList": [
          "={{ $('Google Sheets Trigger').item.json.Email }}",
          []
        ],
        "additionalFields": {}
      },
      "id": "a8d2216a-5364-4da5-9c28-0920c78b2bde",
      "name": "Follow-Up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        896,
        224
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "jJYL6GWHRq8hPK4f",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an admission assistant for SNS College of Technology.\nThe student is interested in \"{{ $json.Course }}\". They asked: \"{{ $json.Marks }}\".\n\nReply in a professional and structured tone with:\n\nA short 2–3 line description about the \"{{ $json.Course }}\" program.\n\nA comparison with 1–2 similar programs available at SNS College of Technology.\n\nAdmission Chance Prediction: Based on the student’s marks (\"{{ $json.Marks }}\"), predict their likelihood of getting admission under Counselling Govt. Quota or Management Quota, using these rules:\n\n90% and above → Very High chance under Govt. Quota.\n\n80–89% → High chance under Govt. Quota, backup Management Quota.\n\n70–79% → Moderate chance, safer under Management Quota.\n\nBelow 70% → Low chance under Govt. Quota, Management Quota recommended.\n\nShow fees details:\n\nIf \"{{ $json.Course }}\" is one of the listed courses, show only that course’s fees.\n\nIf not in the list, show all course fees.\n\nCourse Fees (Management Quota):\n\nIT: Tuition Fee ₹1,10,000 | Hostel Fee ₹90,000\n\nCSE: Tuition Fee ₹1,20,000 | Hostel Fee ₹90,000\n\nECE: Tuition Fee ₹1,00,000 | Hostel Fee ₹90,000\n\nAIML: Tuition Fee ₹1,25,000 | Hostel Fee ₹90,000\n\nEEE: Tuition Fee ₹1,00,000 | Hostel Fee ₹90,000\n\nPlacement details – Highlight that SNSCT students are placed in top recruiters like TCS, Wipro, Infosys, HCL, IBM, and Amazon, with competitive salary packages.\n\nCampus facilities – Mention Wi-Fi enabled campus and modernized laboratories.\n\nAdd note: If you are interested, you can visit our college at any time, Monday to Friday, 9:00 AM to 4:30 PM.\n\nConclude with:\nFor more details, contact our admission office at:\n📞 +91 9489465755, +91 9865824929",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "98b927f0-b0b0-4ea0-a62e-17c9fb4b5135",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        272
      ],
      "id": "36822155-bd67-414d-be99-6fabd68e371d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fGWhR09wwd0lH0Zg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "conversation_history",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        320
      ],
      "id": "132df736-c5e0-4671-a9e2-f547b8fa378e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "92e803a9-f48c-40a4-8686-74cef56ea2ad",
      "name": "Wait 24 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        704,
        32
      ],
      "webhookId": "4f3ed7d1-a621-4d07-80da-3a921e000369"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Wait 24 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24 Hours": {
      "main": [
        [
          {
            "node": "Follow-Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73f75f84-aab4-46dc-b25a-f2fea37eca27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce0bf4c974db5494a6608a2795aea4f04e1c2fd7c6d9194c218bfb5e403a47a4"
  },
  "id": "Qi5DUVHsgC0yDcuH",
  "tags": []
}